
    <div class="cat-tags">
        <div class="container">
            <ul class="catagory">
                <li><a href="{{ blog.url }}">All Categories</a></li>
                <!-- ==== start loop ==== -->              
                    {% for tag in blog.all_tags %}                      
                      <li>
                      <a {% if current_tags contains tag %}class="active" {% endif %} href="{{ blog.url }}/tagged/{{ tag | handleize }}">{{ tag }}</a>
                        </li>                            
              {% endfor %}
                <!-- ======= end loop ====== -->
            </ul>

          <select name="filter-tags" onchange="location = this.value;">
                <option value="{{ blog.url }}">All</option>
                {% for tag in blog.all_tags %}
                  <option value="{{ blog.url }}/tagged/{{ tag | handleize }}" {% if current_tags contains tag %}selected{% endif %}>{{ tag | link_to_tag: tag }}</option>
              {% endfor %}
            </select>
        </div>
    </div>
    <section class="blogs-main padding-main">
        <div class="container">
            <div class="blogs-flex">
                <!-- ==== start loop ===== -->
                {% for article in blog.articles %}
                      {% render 'custom-article-card', article: article %}
                {% endfor %}
                </div>
                <!-- ======== end loop ==== -->
            </div>
        </div>
    </section>
{% schema %}
  {
    "name": "All Blog Posts",
    "settings": [],
    "presets": [
      {
        "name": "All Blog Posts"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}