<section class="team" loading="lazy" style="background-image: url({{ section.settings.background_image | image_url }});">
    <div class="container">
        <div class="inner-headng">
            {% if section.settings.heading != blank %}                
                <h2> {{ section.settings.heading }} </h2>            
            {% endif %}
            {% if section.settings.button_text != blank %}            
            <div class="normal-btn">
                <a href="{{ section.settings.button_link }}" title="{{ section.settings.button_text }}"> {{ section.settings.button_text }} </a>
            </div>
        {% endif %}
        </div>
        <div class="dream-flex">
            <div class="dream-width">
                <div class="icon-img">
                    {% render 'image-card', image: section.settings.feature_image_1, lazy_load: true %}
                </div>
                <div class="dream-des">
                {% if section.settings.feature_heading_1 != blank %}                    
                    <h5> {{ section.settings.feature_heading_1 }} </h5>
                {% endif %}
                {% if section.settings.feature_text_1 != blank %}                       
                    <p>{{ section.settings.feature_text_1 }} </p>
                {% endif %}
                </div>
            </div>
            <div class="dream-width">
                <div class="icon-img">
                    {% render 'image-card', image: section.settings.feature_image_2, lazy_load: true %}
                </div>
                <div class="dream-des">
                {% if section.settings.feature_heading_2 != blank %}                    
                    <h5> {{ section.settings.feature_heading_2 }} </h5>
                {% endif %}
                {% if section.settings.feature_text_2 != blank %}                       
                    <p>{{ section.settings.feature_text_2 }} </p>
                {% endif %}
                </div>
            </div>
            <div class="dream-width">
                <div class="icon-img">
                    {% render 'image-card', image: section.settings.feature_image_4, lazy_load: true %}
                </div>
                <div class="dream-des">
                {% if section.settings.feature_heading_4 != blank %}                    
                    <h5> {{ section.settings.feature_heading_4 }} </h5>
                {% endif %}
                {% if section.settings.feature_text_4 != blank %}                       
                    <p>{{ section.settings.feature_text_4 }} </p>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="dream-flex2">
            <div class="dream-width2">
                <div class="icon-img">
                    {% render 'image-card', image: section.settings.feature_image_4, lazy_load: true %}
                </div>
                <div class="dream-des">
                {% if section.settings.feature_heading_4 != blank %}                    
                    <h5> {{ section.settings.feature_heading_4 }} </h5>
                {% endif %}
                {% if section.settings.feature_text_4 != blank %}                       
                    <p>{{ section.settings.feature_text_4 }} </p>
                {% endif %}
                </div>
            </div>
            <div class="dream-width2">
                <div class="icon-img">
                    {% render 'image-card', image: section.settings.feature_image_5, lazy_load: true %}
                </div>
                <div class="dream-des">
                {% if section.settings.feature_heading_5 != blank %}                    
                    <h5> {{ section.settings.feature_heading_5 }} </h5>
                {% endif %}
                {% if section.settings.feature_text_5 != blank %}                       
                    <p>{{ section.settings.feature_text_5 }} </p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Features",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "The Dream Team"
            },        
            {
                "type": "text",
                "id": "button_text",
                "label": "Button Text",
                "default": "Taste your relief"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Button Link"
            },
            {
                "type": "image_picker",
                "id": "background_image",
                "label": "Background Image"
            },
            {
                "type": "header",
                "content": "Features"                      
            },
            {
                "type": "text",
                "id": "feature_heading_1",
                "label": "Heading"
            },{
                "type": "text",
                "id": "feature_text_1",
                "label": "Text"
            },{
                "type": "image_picker",
                "id": "feature_image_1",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "feature_heading_2",
                "label": "Heading"
            },{
                "type": "text",
                "id": "feature_text_2",
                "label": "Text"
            },{
                "type": "image_picker",
                "id": "feature_image_2",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "feature_heading_3",
                "label": "Heading"
            },{
                "type": "text",
                "id": "feature_text_3",
                "label": "Text"
            },{
                "type": "image_picker",
                "id": "feature_image_3",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "feature_heading_4",
                "label": "Heading"
            },{
                "type": "text",
                "id": "feature_text_4",
                "label": "Text"
            },{
                "type": "image_picker",
                "id": "feature_image_4",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "feature_heading_5",
                "label": "Heading"
            },{
                "type": "text",
                "id": "feature_text_5",
                "label": "Text"
            },{
                "type": "image_picker",
                "id": "feature_image_5",
                "label": "Image"
            }
        ],
        "presets": [
            {
                "name": "Better Features Section"
            }
        ]
    }
{% endschema %}