<section class="join" id="{{ section.settings.section__id }}">
    {% for block in section.blocks %}    
        <div class="join-flex">
            <div class="join-width">
                {% render 'image-card', image: block.settings.image, lazy_load: true %}
            </div>
            <div class="join-width">
                <div class="inne-join">
                    {% if block.settings.subheading != blank %}                        
                        <span> {{ block.settings.subheading }} </span>
                    {% endif %}
                    {% if block.settings.heading != blank %}                        
                        <h3> {{ block.settings.heading | newline_to_br }} </h3>
                    {% endif %}
                    {% if block.settings.text != blank %}                        
                        <p> {{ block.settings.text }} </p>
                    {% endif %}
                    {% if block.settings.feature_heading_1 != blank %}                        
                        <h4> {{ block.settings.feature_heading_1 }} </h4>
                    {% endif %}
                    {% if block.settings.feature_text_1 != blank %}
                        <p> {{ block.settings.feature_text_1 }} </p>
                    {% endif %}                    
                    {% if block.settings.feature_heading_2 != blank %}                        
                        <h4> {{ block.settings.feature_heading_2 }} </h4>
                    {% endif %}
                    {% if block.settings.feature_text_2 != blank %}
                        <p> {{ block.settings.feature_text_2 }} </p>
                    {% endif %}                    
                    {% if block.settings.feature_heading_3 != blank %}                        
                        <h4> {{ block.settings.feature_heading_3 }} </h4>
                    {% endif %}
                    {% if block.settings.feature_text_3 != blank %}
                        <p> {{ block.settings.feature_text_3 }} </p>
                    {% endif %}                    
                    {% if block.settings.feature_heading_4 != blank %}                        
                        <h4> {{ block.settings.feature_heading_4 }} </h4>
                    {% endif %}
                    {% if block.settings.feature_text_4 != blank %}
                        <p> {{ block.settings.feature_text_4 }} </p>
                    {% endif %}                    
                    {% if block.settings.feature_heading_5 != blank %}                        
                        <h4> {{ block.settings.feature_heading_5 }} </h4>
                    {% endif %}
                    {% if block.settings.feature_text_5 != blank %}
                        <p> {{ block.settings.feature_text_5 }} </p>
                    {% endif %}                    
                    
                    {% if section.settings.button_text != blank %}            
                        <div class="normal-btn">
                            <a href="{{ section.settings.button_link }}" title="{{ section.settings.button_text }}"> {{ section.settings.button_text }} </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>     
    {% endfor %}
</section>

{% schema %}
    {
        "name": "Join",
        "settings": [
            {
                "type": "text",
                "id": "section__id",
                "label": "Section Id",
                "default": "how"
            }
        ],
        "blocks": [
            {
                "type": "item",
                "name": "Item",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "textarea",
                        "id": "heading",
                        "label": "Heading"
                    },
                    {
                        "type": "text",
                        "id": "subheading",
                        "label": "Subheading"
                    },
                    {
                        "type": "inline_richtext",
                        "id": "text",
                        "label": "Text"
                    },
                    {
                        "type": "text",
                        "id": "button_text",
                        "label": "Button Text"
                    },{
                        "type": "url",
                        "id": "button_link",
                        "label": "Button Link"
                    },
                    {
                        "type": "header",
                        "content": "Features"                      
                    },
                    {
                        "type": "text",
                        "id": "feature_heading_1",
                        "label": "Heading"
                    },{
                        "type": "text",
                        "id": "feature_text_1",
                        "label": "Text"
                    },
                    {
                        "type": "text",
                        "id": "feature_heading_2",
                        "label": "Heading"
                    },{
                        "type": "text",
                        "id": "feature_text_2",
                        "label": "Text"
                    },
                    {
                        "type": "text",
                        "id": "feature_heading_3",
                        "label": "Heading"
                    },{
                        "type": "text",
                        "id": "feature_text_3",
                        "label": "Text"
                    },
                    {
                        "type": "text",
                        "id": "feature_heading_4",
                        "label": "Heading"
                    },{
                        "type": "text",
                        "id": "feature_text_4",
                        "label": "Text"
                    },
                    {
                        "type": "text",
                        "id": "feature_heading_5",
                        "label": "Heading"
                    },{
                        "type": "text",
                        "id": "feature_text_5",
                        "label": "Text"
                    }
                ]
            }
        ]
    }
{% endschema %}    