<section class="better-banner padding-main global-banner-padding" style="background-image: url(images/better-banner.png);">
<div class="container">
    <div class="heading-custom">
        <h1> {{ section.settings.heading | newline_to_br }} </h1>
        <p> {{ section.settings.text }} </p>
        <div class="bullets">
            <ul>
                {% for block in section.blocks %}
                    {% if block.settings.text != blank %}                        
                        <li><img src="{{ 'tick-white.png' | asset_url }}" height="" width="" loading="lazy"> {{ block.settings.text }} </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% if section.settings.button_text != blank %}            
            <div class="normal-btn">
                <a href="{{ section.settings.button_link }}" title="{{ section.settings.button_text }}"> {{ section.settings.button_text }} </a>
            </div>
        {% endif %}
    </div>
</div>
</section>

{% schema %}
    {
        "name": "Banner",
        "settings": [
            {
                "type": "textarea",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "inline_richtext",
                "id": "text",
                "label": "Text"
            },
            {
                "type": "text",
                "id": "button_text",
                "label": "Button Text",
                "default": "Try sleepi 50% off"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Button Link"
            },{
                "type": "image_picker",
                "id": "background_image",
                "label": "Background Image"
            }
        ],
        "blocks": [
            {
                "name": "List Item",
                "type": "list-item",
                "settings": [
                    {
                        "type": "text",
                        "id": "text",
                        "label": "Text"
                    }
                ]
            }
        ]
    }
{% endschema %}