<section class="for-you padding-main " style="background-image: url({{ section.settings.section_bg | img_url: 'master' }});">
    <div class="container">
        <div class="global-heading">
            <h2>{{ section.settings.main-title }}</h2>
        </div>
        <div class="for-flex">
<!--           ====== start loop ===== -->
          {% for block in section.blocks %}
            <div class="for-width">
                <div class="tick">
                    <i class="fa-solid fa-check"></i>
                </div>
                <h4>{{ block.settings.title }}</h4>
                <p>{{ block.settings.text }}</p>
            </div>
          {% endfor %}
<!--           ========== end loop ======== -->
        </div>
        <div class="primary-btn">
              {% if section.settings.btn-text and section.settings.btn-url %}
                <a href="{{ section.settings.btn-url }}">{{ section.settings.btn-text }}</a>
              {% endif %}
        </div>
    </div>
</section>
{% schema %}
{
    "name": "In It",
    "settings": [
        {
            "type": "image_picker",
            "label": "BG Image",
            "id": "section_bg"
        },
        {
            "type": "text",
            "label": "Main Title",
            "id": "main-title"
        },
        {
            "type": "text",
            "label": "Button Text",
            "id": "btn-text"
        },
        {
            "type": "url",
            "label": "Button URL",
            "id": "btn-url"
        }
    ],
    "blocks": [
        {
            "type": "text",
            "name": "Benifit",
            "settings": [
                {
                    "type": "text",
                    "label": "Heading",
                    "id": "title"
                },
                {
                    "type": "textarea",
                    "label": "Text",
                    "id": "text"
                }
            ]
        }
    ],
    "max_blocks": 3,
    "presets": [
        {
            "name": "In It"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}