<section class="we-belive padding-main" loading="lazy" style="background-image: url({{ section.settings.background_image | image_url: width: section.settings.background_image.width }});">
  <div class="container">
    <div class="heading-new">
      <h2> {{ section.settings.heading }} </h2>
    </div>
    <div class="we-tabing-flex">
      <div class="tabing-width">
        <ul class="tabs">
          {% for block in section.blocks %}    
            {% if block.settings.heading != blank %}              
           <li class="tab-link {% if forloop.first %} current {% endif %}" data-tab="tab-{{ forloop.index }}">
              <span> {{ block.settings.heading }} </span>
              <div class="inner-tab">
                <h3> {{ block.settings.inner_heading }} </h3>
                <p> {{ block.settings.text }} </p>                
                {% if section.settings.button_text != blank %}        
                <div class="primary-btn">
                  <a href="{{ section.settings.button_url | default: '#'  }}"> {{ section.settings.button_text }} </a>
                  </div>
                {% endif %}
                {% if section.settings.quote != blank %}        
                <span class="italc"> {{ section.settings.quote }} </span>
                {% endif %}
              </div>
            </li>
            {% endif %}        
          {% endfor %}
        </ul>
      </div>
      <div class="tabing-width tab-data">
        {% for block in section.blocks %}    
          {% if block.settings.heading != blank %} 
        <div id="tab-{{ forloop.index }}" class="tab-content {% if forloop.first %} current {% endif %}">
          <div class="inner-tab">
                <h3> {{ block.settings.inner_heading }} </h3>
                <p> {{ block.settings.text }} </p>                
                {% if section.settings.button_text != blank %}        
                <div class="primary-btn">
                  <a href="{{ section.settings.button_url | default: '#'  }}"> {{ section.settings.button_text }} </a>
                  </div>
                {% endif %}
                {% if section.settings.quote != blank %}        
                <span class="italc"> {{ section.settings.quote }} </span>
                {% endif %}
              </div>
        </div>
      {% endif %}        
    {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "We Believe",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading" 
      },{
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      }
    ],
    "blocks": [
      {
        "name": "Item",
        "type": "item",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading" 
          },
          {
            "type": "header",
            "content": "Inner Tab"
          },
          {
            "type": "text",
            "id": "inner_heading",
            "label": "Heading" 
          },
          {
            "type": "inline_richtext",
            "id": "text",
            "label": "Text" 
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Learn More"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button Link" 
          },
          {
            "type": "inline_richtext",
            "id": "quote",
            "label": "Quote" 
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "We Believe"
      }
    ]
  }
{% endschema %}