<section class="global-slider padding-main" style="background-color: #FEECD5;" >
    <div class="container">
        <div class="global-heading">
            <h2> {{ section.settings.heading }} </h2>
            <p> {{ section.settings.text | newline_to_br }} </p>
        </div>
        <div class="customers-area">
            <div class="left-holder">
                <div class="slider slider-for">
                {% for block in section.blocks %}                    
                    <div>
                        <div class="globl-width">
                            <div class="coma">
                                {% render 'quotation' %}
                                <h4> {{ block.settings.comment | newline_to_br }} </h4>
                                <span> {{ block.settings.name }} </span>
                                <h5> {{ block.settings.post }} </h5>
                            </div>
                        </div>
                    </div>                
                {% endfor %}
                </div>
                <div class="slider-btns">
                    <button class='slide-prev slick-arrow'><img src="{{ 'left.png' | asset_url }}" height="" width="" loading="lazy"></button>
                    <button class='slide-next slick-arrow'><img src="{{ 'right.png' | asset_url }}" height="" width="" loading="lazy"></button>
                </div>
            </div>
            <div class="slider slider-nav">
            {% for block in section.blocks %}
              <div>{% render 'image-card', image: block.settings.image, lazy_load: true %}</div>
            {% endfor %}
            </div>
          </div>
    </div>
    </div>

</section>
{% schema %}
  {
    "name": "Doctor Testimonials",
    "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading" 
            },
            {
                "type": "textarea",
                "id": "text",
                "label": "Text" 
            }
        ],
        "blocks": [
        {
            "name": "Item",
            "type": "item",
            "settings": [
                {
                    "type": "textarea",
                    "id": "comment",
                    "label": "Comment" 
                },
                {
                    "type": "text",
                    "id": "name",
                    "label": "Name" 
                },
                {
                    "type": "text",
                    "id": "post",
                    "label": "Designation" 
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        }
        ],
    "presets": [
      {
        "name": "Doctor Testimonials"
      }
    ]
  }
{% endschema %}