<section class="guess-work padding-main">
  <div class="container">
    <div class="heading">
      <h2> {{ section.settings.heading | newline_to_br }} </h2>
    </div>
    <div class="guess-slider">
      <div class="owl-carousel guess-slider1 owl-theme">
        {% for block in section.blocks %}          
          <div class="item">
            {% if block.settings.url != blank %}              
              <a href="{{ block.settings.url }}">
            {% endif %}
              <div class="inner-guess">
                {% render 'image-card', image: block.settings.image, lazy_load: true %}
                <h4> {{ block.settings.text }} </h4>
                <p>{{ block.settings.subtext }}</p>
              </div>
            {% if block.settings.url != blank %}              
               </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="bottom-heading">
      <h3> {{ section.settings.after_text | newline_to_br }} </h3>
      {% if section.settings.button_text != blank %}        
      <div class="primary-btn">
        <a href="{{ section.settings.button_url | default: '#'  }}"> {{ section.settings.button_text }} </a>
      </div>
      {% endif %}
    </div>

  </div>
</section>

{% schema %}
  {
    "name": "Guess Work",
    "settings": [
      {
        "type": "textarea",
        "id": "heading",
        "label": "Heading" 
      },
      {
        "type": "header",
        "content": "After Slider"
      },
      {
        "type": "textarea",
        "id": "after_text",
        "label": "Text" 
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Find Your Routine"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button Link" 
      }
    ],
    "blocks": [
      {
        "name": "Slide",
        "type": "slide",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text" 
          },
          {
            "type": "text",
            "id": "subtext",
            "label": "Subtext" 
          },
          {
            "type": "url",
            "id": "url",
            "label": "Link" 
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image" 
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Guess Work"
      }
    ]
  }
{% endschema %}