<section class="routine padding-main">
  <div class="container">
    <div class="heading">
      <h2> {{ section.settings.heading }} </h2>
      <p> {{ section.settings.text }} </p>      
      {% if section.settings.button_text != blank %}
        <div class="primary-btn">
          <a href="{{ section.settings.button_url | default: '#'  }}" title="{{ section.settings.button_text }}"> {{ section.settings.button_text }} </a>
        </div>      
      {% endif %}
    </div>
    <div class="inner-routine">
      <div class="owl-carousel routine-slider owl-theme">
        {% for block in section.blocks %}
        <div class="item">
          <div class="routine-inner">
            <div class="routine-imgs">
              {% render 'image-card', image: block.settings.image, lazy_load: true %}
            </div>
            <div class="routine-content">
              <h3> {{ block.settings.name }} </h3>
              <span>  {{ block.settings.post }} </span>
              <p> {{ block.settings.comment }} </p>                        
              <div class="list-routine">
                <ul>
                  {% if block.settings.item_1 != blank %}                    
                  <li><img src="{{ 'icon1.png' | asset_url }}" height="" width="" loading="lazy"> {{ block.settings.item_1 }}  </li>
                {% endif %}                
                {% if block.settings.item_2 != blank %}                    
                <li><img src="{{ 'icon2.png' | asset_url }}" height="" width="" loading="lazy"> {{ block.settings.item_2 }}  </li>
                  {% endif %}
                  {% if block.settings.item_3 != blank %}                    
                  <li><img src="{{ 'icon2.png' | asset_url }}" height="" width="" loading="lazy"> {{ block.settings.item_3 }}  </li>
                {% endif %}
                {% if block.settings.item_4 != blank %}                    
                    <li><img src="{{ 'icon1.png' | asset_url }}" height="" width="" loading="lazy"> {{ block.settings.item_4 }}  </li>
                  {% endif %}
                  {% if block.settings.item_5 != blank %}                    
                  <li><img src="{{ 'icon2.png' | asset_url }}" height="" width="" loading="lazy"> {{ block.settings.item_5 }}  </li>
                {% endif %}
                {% if block.settings.item_6 != blank %}                    
                <li><img src="{{ 'icon2.png' | asset_url }}" height="" width="" loading="lazy"> {{ block.settings.item_6 }}  </li>
              {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Routine",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading" 
      },
      {
        "type": "inline_richtext",
        "id": "text",
        "label": "Text" 
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Learn More"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button Link" 
      }
    ],
    "blocks": [
      {
        "name": "Item",
        "type": "item",
        "settings": [
          {
            "type": "text",
            "id": "name",
            "label": "Name" 
          },
          {
            "type": "text",
            "id": "post",
            "label": "Designation" 
          },
          {
            "type": "inline_richtext",
            "id": "comment",
            "label": "Comment" 
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },{
            "type": "header",
            "content": "Routine list"
          },{
            "type": "text",
            "id": "item_1",
            "label": "Item 1"
          },{
            "type": "text",
            "id": "item_2",
            "label": "Item 2"
          },{
            "type": "text",
            "id": "item_3",
            "label": "Item 3"
          },{
            "type": "text",
            "id": "item_4",
            "label": "Item 4"
          },{
            "type": "text",
            "id": "item_5",
            "label": "Item 5"
          },{
            "type": "text",
            "id": "item_6",
            "label": "Item 6"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Routine"
      }
    ]
  }
{% endschema %}