<section class="refferal-banner" loading="lazy" style="background-image: url({{ section.settings.background_image | image_url }});" id="influncer">
    <div class="container">
        <div class="refferal-inner">
            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'subheading' %}
                        {% if block.settings.subheading != blank %}                            
                            <h5> {{ block.settings.subheading }}  
                                {% if block.settings.image != blank %}                                    
                                    <img loading="lazy" height="" width="" src="{{ block.settings.image | image_url }}">
                                {% endif %}
                            </h5>
                        {% endif %}
                    {% when 'heading' %}
                        {% if block.settings.heading != blank %}                            
                            <h1> {{ block.settings.heading | newline_to_br }} </h1>
                        {% endif %}
                    {% when 'text' %}
                            {% if block.settings.text != blank %}                            
                                <p> {{ block.settings.text | newline_to_br }} </p>
                            {% endif %}    
                    {% when 'button' %}
                        {% if block.settings.button_text != blank %}            
                        <div class="heading">
                            <a class="primary-btn2" href="{{ block.settings.button_link }}" title="{{ block.settings.button_text }}"> {{ block.settings.button_text }} </a>
                        </div>
                    {% endif %}
                {% endcase %}
            {% endfor %}
          </div>
    </div>
</section>

{% schema %}
    {
        "name": "Banner",
        "settings": [
            {
                "type": "image_picker",
                "id": "background_image",
                "label": "Background Image"
            }
        ],
        "blocks": [
                {
                    "type": "heading",
                    "name": "Heading",
                    "limit": 1,
                    "settings": [
                        {
                            "type": "textarea",
                            "id": "heading",
                            "label": "Heading"
                        }
                    ]
                },
                {
                    "type": "subheading_with_image",
                    "name": "Subheading with Image",
                    "limit": 1,
                    "settings": [
                        {
                            "type": "text",
                            "id": "subheading",
                            "label": "Subheading"
                        },
                        {
                            "type": "image_picker",
                            "id": "image",
                            "label": "Signature Image"
                        }
                    ]
                },
                {
                    "type": "button",
                    "name": "Button",
                    "limit": 1,
                    "settings": [
                        {
                            "type": "text",
                            "id": "button_text",
                            "label": "Button Text",
                            "default": "Shop now with 15% off"
                        },
                        {
                            "type": "url",
                            "id": "button_link",
                            "label": "Button Link"
                        }
                    ]
                },
                {
                    "type": "text",
                    "name": "Text",
                    "limit": 1,
                    "settings": [
                        {
                            "type": "textarea",
                            "id": "text",
                            "label": "Text"
                        }
                    ]
                }
            ]
    }
{% endschema %}

