<section class="discount padding-main">
    <div class="container">
        <div class="heading">
          {% if section.settings.main_heading %}
            <h2>{{ section.settings.main_heading }}</h2>
          {% endif %}
          {% if section.settings.main_text != blank %}
            <p>
              {{ section.settings.main_text }}
            </p>
          {% endif %}
        </div>
        <div class="refferal-list">
            <ul>
<!--               ====== start loop ======= -->
              {% for block in section.blocks %}
                {% if block.type == 'text' %}
                    <li class="block-num-{{ forloop.index }}">
                        <div class="number-flex">
                            <div class="round-number">
                                <h3>
                                  {{ block.settings.title }}
                                    <span>OFF</span>
                                </h3>
                            </div>
                            <div class="points">
                                <h4>{{ block.settings.points }}</h4>
                            </div>
                        </div>
                    </li>
                  {% endif %}
                {% endfor %}
<!--               ============ end loop ======= -->
            </ul>
        </div>

        <div class="discount-flex">
<!--           ====== start loop ==== -->
          {% for block in section.blocks %}
            {% if block.type == 'card' %}
                <div class="discount-width">
                    <h3>{{ block.settings.title }}</h3>
                    <p>
                      {{ block.settings.para-text }}
                    </p>
                    <div class="primary-btn">
                        <a href="{{ block.settings.button-link }}">{{ block.settings.button-text }}</a>
                    </div>
                </div>
            {% endif %}
          {% endfor %}
<!--           ========= end loop ======= -->
        </div>
    </div>
</section>
{% schema %}
{
  "name": "Rewards Discount",
  "settings": [
      {
          "type": "text",
          "label": "Main Heading",
          "id": "main_heading"
      },
      {
          "type": "richtext",
          "label": "Main Text",
          "id": "main_text"
      }
  ],
  "blocks": [
      {
          "type": "text",
          "name": "Point",
          "limit": 4,
          "settings": [
              {
                  "type": "text",
                  "label": "Price",
                  "id": "title"
              },
              {
                  "type": "text",
                  "label": "Points",
                  "id": "points"
              }
          ]
      },
      {
          "type": "card",
          "name": "Card",
          "limit": 2,
          "settings": [
              {
                  "type": "text",
                  "label": "Title",
                  "id": "title"
              },
              {
                  "type": "richtext",
                  "label": "Text",
                  "id": "para-text"
              },
              {
                  "type": "text",
                  "label": "Button Text",
                  "id": "button-text"
              },
              {
                  "type": "url",
                  "label": "Button URL",
                  "id": "button-link"
              }
          ]
      }
  ]
}
{% endschema %}